<link rel="stylesheet" href="header.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<nav>
    <div class="logo">PetSave</div>
    <div class="links">
        <ul class="nav-itens">
            <li><a routerLink="/Adotar">Quero adotar</a></li>
            <li><a routerLink="/Cadastrar">Quero divulgar</a></li>
            <li><a href="mailto:gabrieligoroliveira@gmail.com">Confirmar adoção</a></li>
            <li><a routerLink="/Sobre">Sobre nós</a></li>
        </ul>
    </div>
    <div class="btn"></div>
</nav>
