<app-header></app-header>
<section class="sobre-nos">
    <h2>Nossa História</h2>
    <p>Bem-vindo ao PetSave, um projeto que nasceu da ideia de fazer a diferença na vida de animais de estimação
        que estão procurando um lar amoroso. Inicialmente concebido como parte de um projeto, o PetSave cresceu
        para se tornar mais do que isso, uma plataforma dedicada a conectar animais adoráveis com pessoas que
        desejam dar a eles uma segunda chance na vida.</p>
    <h2>Nossa Missão</h2>
    <p>Nosso compromisso é proporcionar uma experiência única para aqueles que procuram adotar, doar ou simplesmente
        aprender mais sobre o mundo dos animais de estimação. Embora tenhamos começado como um projeto, nosso desejo
        é levar o PetSave adiante, colocando-o no ar para ajudar ainda mais animais e fazer uma contribuição positiva
        para o mundo.</p>
  </section>
<app-footer></app-footer>