<footer>
    <div class="secoes">
        <section class="informacoes">
            <div class="info1">
                <h1>Adoções</h1>
                <p>Adote um amigo peludo e descubra a alegria que só um cachorro pode trazer. Faça parte da mudança!</p>
            </div>
            <div class="info2">
                <h1>Doações</h1>
                <p>Juntos, podemos fazer a diferença na vida de um amigo de quatro patas. Adote hoje e compartilhe o amor.</p>
            </div>
            <div class="info3">
                <h1>Contato</h1>
                <p>Suas dúvidas e sugestões são valiosas para nós! Estamos aqui para ajudar e ouvir. Sinta-se à vontade para entrar em contato conosco pelo e-mail gabrieligoroliveira&#64;gmail.com. Estamos ansiosos para receber sua mensagem e melhorar ainda mais a sua experiência conosco. Obrigado por fazer parte da nossa comunidade!</p>
            </div>
        </section>
        <hr class="divisao">
        <section class="contato">
            <h1 class="empresa">PetSave</h1>
            <ul class="links">
                <li><a class="link1" href="https://www.linkedin.com/in/gabriel-igor-de-oliveira-073380256" target="_blank">Linkedin</a></li>
                <li><a class="link2" href="https://github.com/gabrieloliveirax" target="_blank">GitHub</a></li>
            </ul>
        </section>
        <section class="creditos">
            <p>©Gabriel Oliveira</p>
            <p>Todos os direitos reservados.</p>
        </section>
    </div>
</footer>
